h3,h4 {
  margin: 2px
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  margin: 0;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button {
  height: 40px;
  padding-left: 10px;
  padding-right: 5px;
}

.nav-button:hover {
  border-bottom: #1273c4 solid 2px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 3vh;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  color: #1273c4;
  display: inline;
}

h2 {
  font-size: 24px;
  font-family: Monaco, monospace;
  font-weight: bold;
  color: #555;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  height: 65vh;
}

.main-div {
  width: 50vw;
  box-shadow: 0 0 9px #0000001a;
}

.home {
  height: 29px;
  width: auto;
  margin: 0px;
  position: absolute;
  top: 2vh;
  left: 2vw;
  background-color: #1273c4;
  border-radius: 50%;
  padding: 10px;
}

button {
  background-color: #1273c4;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: Monaco, monospace;
  font-size: large;
  height: 40px;
}



/* Style forms */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  font-family: Monaco, monospace;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #1273c4;
  box-shadow: 0 0 4px #1273c4;
}

nav {
  height: 10vh;
  font-weight: bold;
  margin: 0;
  box-shadow: 0 8px 15px #0000001a;
  padding-left: 1vw;
  margin-bottom: 5vh;
}

.nav-div {
  padding-top: 3vh;
  display: inline-flex;
  width: 41vw;
}

#search-img {
  height: 29px;
  width: auto;
  margin: 0px;
  padding-right: 7px;
}

span {
  text-align: center;
}