/* body {
  font-family: Monaco, monospace;
  background-color: #f2f2f2;
  height: 100vh;
  margin: 0;
} */

h3,h4 {
  margin: 2px
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  margin: 0;
}

.form-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button {
  height: 40px;
  font-size: medium;
  padding-left: 10px;
  padding-right: 5px;
}

.nav-button:hover {
  border-bottom: #1273c4 solid 2px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  padding: 1%;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
  color: #1273c4;
}

h2 {
  font-size: 24px;
  font-family: Monaco, monospace;
  font-weight: bold;
  color: #555;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 60vh;
}

.main-div {
  width: 50vw;
  /* border-left: #0000001a solid 2px; */
  /* border-right: #0000001a solid 2px; */
  box-shadow: 0 0 9px #0000001a;
}

button {
  background-color: #1273c4;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: Monaco, monospace;
  font-size: large;
  /* margin-left: 1%; */
  height: 40px;
}



/* Style forms */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  /* font-family: Monaco, monospace; */

}

input {
  font-family: Monaco, monospace;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #1273c4;
  box-shadow: 0 0 4px #1273c4;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  box-shadow: 0 8px 15px #0000001a;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: flex-end;
  margin-bottom: 5vh;

}

.nav-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-img {
  height: 29px;
  /* border-radius: 4px; */
  width: auto;
  /* padding: 0px; */
  margin: 0px;
}


span {
  text-align: center;
}


/* th, td {
  text-align: left;
  padding: 8px;
  font-size: large;
}

th {
  background-color: #dddddd;
  color: black;
  font-size: larger;
} */

/* tr:nth-child(even) {
  background-color: #bdc3ea;
} */
/* button#add-car-button {
  margin-left: 120px;
  display: flex;
} */

/* table img {
  height: 100px;
  width: 200px;
} */
/* table {
  border-collapse: collapse;
  width: 100%;
} */



/* button:hover {
  background-color: #703d1c;
  font-size: larger;
} */