h2 {
  font-size: 40px;
  font-weight: bold;
  color: #1273c4;
  margin-bottom: 20px;
  text-align: center;
}

#search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 20vh;
}

.span {
  font-size: large;
  text-align: left;
}

input {
  width: 20vw;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  border-color: #1273c4;
  box-shadow: 0 0 4px #1273c4;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}