body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-img {
  height: 28vh;
  width: auto;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0
}

footer {
  height: 15vh;
  background-color: #1273c4;
  padding: 1%;
  display: flex;
}

.footer-img {
  height: 20px;
  width: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.f-span {
  font-size: medium;
}

.f-div {
  display: flex;
  align-items: center;
  margin: 2px;
}